

.whole_container{
  align-self: center;
  
}
.btn{
  margin-top:0px;
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
  margin:5px;
  border-radius: 10px;
  background-color: rgb(210, 85, 85;
  padding:20px;
  width:10px;
  height:10px;
  font-family: Arial, Helvetica, sans-serif;
  
}
  #numero{
  margin-top:0px;
  outline:darkorange;
  width: 500px;
  height: 40px;
}
.Operaciones{
  margin-top:0px;
  float:left;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  text-align:center;
  
}
.btnN{
  width: 200px;
  margin:15px;
  text-align: center;
  display:flex;
  flex-wrap:wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
}
.btn0{
  border-radius:5px;
  margin-top:0px;
  background-color: moccasin;
  padding:20px;
  width:130px;
  height:15px;
  float:right;
  margin-right:15px;
}
.btnT{
  align-text:center;
  float:right;
  border-radius:5px;
  background-color: moccasin;
  padding:20px;
  width:150px;
  height:10px;
  
}